# OSX
#
.DS_Store
#env
./bus_booking server/.env
.env
# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# ==== bus_booking_server (MERN Server) ====

# Node modules
/bus_booking_server/node_modules/
/bus_booking_server/.pnp
/bus_booking_server/.pnp.js

# Logs
/bus_booking_server/logs
/bus_booking_server/*.log
/bus_booking_server/npm-debug.log*
/bus_booking_server/yarn-debug.log*
/bus_booking_server/yarn-error.log*

# Runtime data
/bus_booking_server/pids
/bus_booking_server/*.pid
/bus_booking_server/*.seed
/bus_booking_server/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
/bus_booking_server/lib-cov

# Coverage directory used by tools like istanbul
/bus_booking_server/coverage

# nyc test coverage
/bus_booking_server/.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
/bus_booking_server/.grunt

# Bower dependency directory (https://bower.io/)
/bus_booking_server/bower_components

# node-waf configuration
/bus_booking_server/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
/bus_booking_server/build/Release

# Dependency directories
/bus_booking_server/node_modules/
/bus_booking_server/jspm_packages/

# TypeScript cache
/bus_booking_server/*.tsbuildinfo

# Optional npm cache directory
/bus_booking_server/.npm

# Optional eslint cache
/bus_booking_server/.eslintcache

# Microbundle cache
/bus_booking_server/.rpt2_cache/
/bus_booking_server/.rts2_cache_cjs/
/bus_booking_server/.rts2_cache_es/
/bus_booking_server/.rts2_cache_umd/

# Optional REPL history
/bus_booking_server/.node_repl_history

# dotenv environment variables file
/bus_booking_server/.env
/bus_booking_server/.env.test
/bus_booking_server/.env.production

# parcel-bundler cache (https://parceljs.org/)
/bus_booking_server/.cache

# Next.js build output
/bus_booking_server/.next

# Nuxt.js build / generate output
/bus_booking_server/.nuxt
/bus_booking_server/dist

# Gatsby files
/bus_booking_server/.cache/
/bus_booking_server/public

# vuepress build output
/bus_booking_server/.vuepress/dist

# Serverless directories
/bus_booking_server/.serverless

# FuseBox cache
/bus_booking_server/.fusebox/

# DynamoDB Local files
/bus_booking_server/.dynamodb/

# TernJS port file
/bus_booking_server/.tern-port


# ==== react_native (React Native app) ====

# React Native node_modules
/react_native/node_modules/
/react_native/.pnp
/react_native/.pnp.js

# React Native Packager
/react_native/.expo/
/react_native/.expo-shared/
/react_native/.expo-shared/assets.json

# React Native build folders
/react_native/android/app/build/
/react_native/ios/build/
/react_native/ios/Pods/
/react_native/ios/Podfile.lock

# Xcode
/react_native/ios/*.xcworkspace
/react_native/ios/xcuserdata/
/react_native/ios/*.xcodeproj/project.xcworkspace/
/react_native/ios/*.xcodeproj/xcuserdata/

/react_native/ios/*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings
/react_native/ios/DerivedData/
/react_native/ios/build/

# CocoaPods
/react_native/ios/Pods/
/react_native/ios/Podfile.lock

# Fastlane
/react_native/ios/fastlane/report.xml
/react_native/ios/fastlane/Preview.html
/react_native/ios/fastlane/screenshots/**/*.png
/react_native/ios/fastlane/test_output

# Android
/react_native/android/.gradle/
/react_native/android/app/build/
/react_native/android/build/
/react_native/android/captures/
/react_native/android/.idea/
/react_native/android/local.properties

# Android Studio
/react_native/.idea/
/react_native/*.iml

# Gradle
/react_native/android/.gradle/
/react_native/android/app/build/
/react_native/android/build/
/react_native/android/local.properties

# Buck
/react_native/android/app/.buckd/
/react_native/android/app/.buckconfig
/react_native/android/app/.buckversion

# JetBrains Rider
/react_native/.idea/

# Misc
/react_native/*.log
/react_native/*.swp
/react_native/.vscode/

# Environment variables
/react_native/.env
/react_native/.env.local
/react_native/.env.development
/react_native/.env.test
/react_native/.env.production

# Expo
/react_native/.expo/
/react_native/.expo-shared/

# Metro bundler cache
/react_native/.metro-cache

# Yarn Integrity file
/react_native/.yarn-integrity

# Temporary folders
/react_native/.tmp/

# Storybook
/react_native/storybook-static/

